<ion-header>
  <ion-toolbar>
    <ion-title>Recovery Flow Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recovery Flow</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Status:
        <strong *ngIf="isCompleted; else notDone">✅ Completed</strong>
        <ng-template #notDone><strong>❌ Incomplete</strong></ng-template>
      </p>

      <ion-button color="danger" (click)="resetProgress()">Reset Progress</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-button 
  type="button" 
  routerLink="/home" 
  expand="block" 
  color="primary" 
  shape="round" 
  class="ion-margin-bottom custom-btn">
  Back to Home
</ion-button>

<ion-button 
  type="button" 
  routerLink="/program-listing" 
  expand="block" 
  color="secondary" 
  shape="round" 
  class="ion-margin-bottom custom-btn">
  View Workouts
</ion-button>
